.virtual-gamepad {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
        &-boost {
            outline:none;
            height: 5em;
            width: 5em;
            margin: 2.5em;
            border: 2px solid green;
            border-radius: 100%;
            &-pressed {
                background-color: green;
            }
        }
        &-brake {
            outline:none;
            height: 5em;
            width: 5em;
            margin: 2.5em;
            border: 2px solid red;
            border-radius: 100%;
            &-pressed {
                background-color: red;
            }
        }
    }
}
