<div class="virtual-gamepad">
  <app-joystick (move)="joystickMoved($event)"></app-joystick>
  <div class="button-container">
    <button
      (touchstart)="brakeButtonEvent('pressed')"
      (touchend)="brakeButtonEvent('released')"
      (mousedown)="brakeButtonEvent('pressed')"
      (mouseup)="brakeButtonEvent('released')"
      [ngClass]="{'button-brake-pressed': brakeButtonPressed}"
      class="button-brake">Brake
    </button>
    <button
      (touchstart)="boostButtonEvent('pressed')"
      (touchend)="boostButtonEvent('released')"
      (mousedown)="boostButtonEvent('pressed')"
      (mouseup)="boostButtonEvent('released')"
      [ngClass]="{'button-boost-pressed': boostButtonPressed}"
      class="button-boost">Boost
    </button>
  </div>
</div>
